
  <div class="formContainer" [formGroup]="loginForm">
    <label for="username">username: </label>
    <input id="username" type="text" formControlName="username" >


    <label for="password">password: </label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="loginForm.get('username')?.errors?.['errore']">
      {{loginForm.get('username')?.errors?.['errore']}}
    </div>
    <label for="submit">invia</label>
    <input id="submit" type="submit" (click)="onSubmit()">
    <h2 (click)="stampa()"> stampa e  {{item}}</h2>
    <label for="item-input">Add an item:</label>
    <input type="text" id="item-input" #newItem>
    <button type="button" (click)="lanciaOutput(newItem.value)">Add to parent's list</button>
  </div>

